<app-navbar></app-navbar>
<div>
    <h2 *ngIf="isLoginMode">Login</h2>
    <h2 *ngIf="!isLoginMode">Sign Up</h2>
    <input [(ngModel)]="username" placeholder="Username">
    <input [(ngModel)]="password" placeholder="Password" type="password">
    <button (click)="isLoginMode ? login() : signup()">
        {{ isLoginMode ? 'Login' : 'Sign Up' }}
    </button>
    <button (click)="toggleMode()">
        Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
    </button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
