.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #E2EDF9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.login-title,
.signup-title {
    font-size: 28px;
    color: #004BAD;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.toggle-button{
    margin-top: 5px;
}
.submit-button,
.toggle-button {
    padding: 10px 15px;
    background-color: #004BAD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    font-size: 16px;
}

.submit-button:hover,
.toggle-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
