<app-navbar></app-navbar>

<div class="login-container">
    <h2 class="login-title" *ngIf="isLoginMode">Login</h2>
    <h2 class="signup-title" *ngIf="!isLoginMode">Sign Up</h2>
    
    <input [(ngModel)]="username" class="input-field" placeholder="Username">
    <input [(ngModel)]="password" class="input-field" placeholder="Password" type="password">
    
    <button class="submit-button" (click)="isLoginMode ? login() : signup()">
        {{ isLoginMode ? 'Login' : 'Sign Up' }}
    </button>
    
    <button class="toggle-button" (click)="toggleMode()">
        Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
    </button>
    
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
