.navbar {
    background-color: #E2EDF9;
    padding: 1rem;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    color: #4669E2;
    text-decoration: none;
    padding: 14px 20px;
  }
  
  .navbar a:hover {
    background-color: #bcd6f2;
  }
  