<app-navbar></app-navbar>
<div class="task-manager">
  <div class="top-container">
    <h1>Task Manager</h1>
    <h3>{{ today | date : "MMM d, y" }}</h3>
    <!-- Use the date pipe to format -->
    <app-add-task (taskAdded)="onTaskAdded($event)"></app-add-task>
  </div>

  <div class="task-columns">
    <div class="task-column-todo">
      <h2 class="TODO">To Do</h2>
      <div *ngFor="let task of toDoTasks" class="task-card">
        <!-- Display mode -->
        <div *ngIf="!task.isEditing">
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
          <small>{{ task.createdAt | date : "medium" }}</small>
          <select
            (change)="updateTaskState(task.id, $event)"
            [ngStyle]="{
              'background-color':
                task.state === 'Done'
                  ? '#ce2290'
                  : task.state === 'In Progress'
                  ? '#3535dc'
                  : '#ecb624'
            }"
          >
            <option value="To Do" [selected]="task.state === 'To Do'">
              To Do
            </option>
            <option
              value="In Progress"
              [selected]="task.state === 'In Progress'"
            >
              In Progress
            </option>
            <option value="Done" [selected]="task.state === 'Done'">
              Done
            </option>
          </select>

          <i
            class="fas fa-edit"
            (click)="task.isEditing = true"
            title="Edit"
            style="cursor: pointer; margin-left: 8px; color: #4669e2"
          ></i>
          <i
            class="fas fa-times"
            (click)="removeTask(task.id)"
            title="Remove"
            style="cursor: pointer; margin-left: 8px; color: red"
          ></i>
        </div>

        <!-- Edit mode -->
        <div *ngIf="task.isEditing">
          <input
            type="text"
            [(ngModel)]="task.title"
            placeholder="Edit title"
          />
          <textarea
            [(ngModel)]="task.description"
            placeholder="Edit description"
          ></textarea>
          <button (click)="saveTask(task)">Save</button>
          <button (click)="task.isEditing = false">Cancel</button>
        </div>
      </div>
    </div>

    <div class="task-column-progress">
      <h2 class="PROGRESS">In Progress</h2>
      <div *ngFor="let task of inProgressTasks" class="task-card">
        <!-- Display mode -->
        <div *ngIf="!task.isEditing">
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
          <small>{{ task.createdAt | date : "medium" }}</small>
          <select
            (change)="updateTaskState(task.id, $event)"
            [ngStyle]="{
              'background-color':
                task.state === 'Done'
                  ? '#ce2290'
                  : task.state === 'In Progress'
                  ? '#3535dc'
                  : '#ecb624'
            }"
          >
            <option value="To Do" [selected]="task.state === 'To Do'">
              To Do
            </option>
            <option
              value="In Progress"
              [selected]="task.state === 'In Progress'"
            >
              In Progress
            </option>
            <option value="Done" [selected]="task.state === 'Done'">
              Done
            </option>
          </select>

          <i
            class="fas fa-edit"
            (click)="task.isEditing = true"
            title="Edit"
            style="cursor: pointer; margin-left: 8px; color: #4669e2"
          ></i>
          <i
            class="fas fa-times"
            (click)="removeTask(task.id)"
            title="Remove"
            style="cursor: pointer; margin-left: 8px; color: red"
          ></i>
        </div>

        <!-- Edit mode -->
        <div *ngIf="task.isEditing">
          <input
            type="text"
            [(ngModel)]="task.title"
            placeholder="Edit title"
          />
          <textarea
            [(ngModel)]="task.description"
            placeholder="Edit description"
          ></textarea>
          <button (click)="saveTask(task)">Save</button>
          <button (click)="task.isEditing = false">Cancel</button>
        </div>
      </div>
    </div>

    <div class="task-column-done">
      <h2 class="DONE">Done</h2>
      <div *ngFor="let task of doneTasks" class="task-card">
        <!-- Display mode -->
        <div *ngIf="!task.isEditing">
          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>
          <small>{{ task.createdAt | date : "medium" }}</small>
          <select
          (change)="updateTaskState(task.id, $event)"
          [ngStyle]="{
            'background-color':
              task.state === 'Done'
                ? '#ce2290'
                : task.state === 'In Progress'
                ? '#3535dc'
                : '#ecb624'
          }"
        >
            <option value="To Do" [selected]="task.state === 'To Do'">
              To Do
            </option>
            <option
              value="In Progress"
              [selected]="task.state === 'In Progress'"
            >
              In Progress
            </option>
            <option value="Done" [selected]="task.state === 'Done'">
              Done
            </option>
          </select>

          <i
            class="fas fa-edit"
            (click)="task.isEditing = true"
            title="Edit"
            style="cursor: pointer; margin-left: 8px; color: #4669e2"
          ></i>
          <i
            class="fas fa-times"
            (click)="removeTask(task.id)"
            title="Remove"
            style="cursor: pointer; margin-left: 8px; color: red"
          ></i>
        </div>

        <!-- Edit mode -->
        <div *ngIf="task.isEditing">
          <input
            type="text"
            [(ngModel)]="task.title"
            placeholder="Edit title"
          />
          <textarea
            [(ngModel)]="task.description"
            placeholder="Edit description"
          ></textarea>
          <button (click)="saveTask(task)">Save</button>
          <button (click)="task.isEditing = false">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
