.task-manager{
    margin: 20px;

}

.task-columns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.task-column-done {
    flex: 1;
    margin: 0 10px;
    background-color: #FAEDF5;
    border-radius: 40px;
}
.DONE{
    color: #ce2290;
    margin: 20px;
}
.task-column-progress {
    flex: 1;
    margin: 0 10px;
    background-color: #F0F0FF;
    border-radius: 40px;
}
.PROGRESS{
    color: #3535dc;
    margin: 20px;
}

.task-column-todo {
    flex: 1;
    margin: 0 10px;
    background-color: #FDF8EA;
    border-radius: 40px;
}

.TODO{
    color: #ecb625;
    margin: 20px;
}


.task-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 16px;
    margin: 20px;
    background-color: #fcfcfe;
    border: none;
}

.task-card h3 {
    margin: 0 0 8px;
}

.task-card p {
    margin: 0 0 8px;
}

.task-card small {
    display: block;
    margin: 0 0 8px;
    font-size: 0.9em;
    color: #555;
}

.top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

select{
    border: none;
    border-radius: 10px;
    color: #F0F0FF;
}

.task-search-bar {
    padding: 8px;
    border: none;
    background-color: #e2edf9;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  .task-search-bar::placeholder{
    color: #4669e2;
  }