<app-navbar></app-navbar>

<div class="home-container">
    <h1>Welcome to Your Task Tracker!</h1>
    <p>This project helps you manage your tasks efficiently. Add, edit, and complete your tasks with ease!</p>
    <button (click)="start()">Let's Start</button>
</div>

<div class="personal-info">
    <h2>About Me</h2>
    <img src="../../assets/profile-picture.png" alt="Your Name" style="width: 200px; border-radius: 50%; height: 200px; object-fit: cover;">
    <p><strong>Name:</strong> Baptiste Keunebroek</p>
    <p><strong>Email:</strong> baptiste.keunebroek&#64;gmail.com</p>
    <p>
      <strong>Connect with me:</strong>
      <a href="https://github.com/Baptistekeunbroek" target="_blank" style="margin-right: 8px; margin-left: 8px;">
          <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/in/baptiste-keunebroek-95a2ab194" target="_blank">
          <i class="fab fa-linkedin"></i>
      </a>
  </p>
</div>
