<app-navbar></app-navbar>

<div class="home-container">
  <h1>Welcome to Your Task Tracker!</h1>
  <p>
    This project helps you manage your tasks efficiently. Add, edit, and
    complete your tasks with ease!
  </p>
  <button (click)="start()">Let's Start</button>
</div>

<div class="personal-info">
  <h2>About Me</h2>
  <img
    src="../../assets/profile-picture-min.png"
    alt="Your Name"
    style="width: 200px; border-radius: 50%; height: 200px; object-fit: cover"
  />
  <p> Hi ! I'm <strong>Baptiste Keunebroek </strong> and I am a french software engineer
    <br />
        -I have master from
    <a style="text-decoration: none;"
      href="https://www.efrei.fr/?gclid=Cj0KCQjw48OaBhDWARIsAMd966BE9TdUlLAqJ6iRU67C7ElhnEIzam7l8JqzL1zwXNKoTYRx4jzq_EsaAkvzEALw_wcB"
      >Efrei Paris
    </a>
    <br />
        -I enjoy programming in many languages.
    <br />
        -I speak French as it is my mother tongue, English fluently
    and I'm a beginner in Norwegian.
    <br /></p>
  <p>
   
    <strong>Connect with me:</strong>
    <a
      href="https://github.com/Baptistekeunbroek"
      target="_blank"
      style="margin-right: 8px; margin-left: 8px"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://linkedin.com/in/baptiste-keunebroek-95a2ab194"
      target="_blank"
    >
      <i class="fab fa-linkedin"></i>
    </a>
  </p>
</div>
