/* home.component.css */
.home-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  